{% extends 'tareas.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
{% if messages %}
{% for m in messages %}
    <div {% if m.tags %} class="{{m.tags}}" {% endif %}><small >{{m}}</small></div>
{% endfor %}
{% endif %}

<div class="container mt-5">
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body" style="background-color: #E8E8E8;">
            <h1 class="card-title text-center">OTP Form</h1>

            <form action="" method="post" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                    {% for er in form.non_field_errors %}
                        <p class="text-danger">{{ er }}</p>
                    {% endfor %}
                {% endif %}

                {% for fm in form %}
                <!--{{form|crispy}}--> 
                    <div class="mb-3">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <p class="text-danger">{{ fm.errors|striptags }}</p>
                    </div>
                {% endfor %}

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin: 350px">
</div>
{% endblock %}
